#	$OpenBSD: sshd_config,v 1.98 2016/02/17 05:29:04 djm Exp $
#	$FreeBSD: stable/11/crypto/openssh/sshd_config 311915 2017-01-11 05:56:40Z delphij $

Port 13107
Protocol 2
Ciphers aes256-cbc,blowfish-cbc,3des-cbc,aes256-ctr,aes192-cbc
AddressFamily inet

ServerKeyBits 4096
LoginGraceTime 1m
PermitRootLogin no
MaxAuthTries 2
PermitEmptyPasswords no
X11Forwarding no
TCPKeepAlive no
MaxStartups 1
StrictModes yes

#VersionAddendum FreeBSD-20161230

Subsystem	sftp	/usr/libexec/sftp-server
